.PopAudioTitle {
  
  .link {
    list-style: none;
    text-decoration: none;
  }

  .audio {
    h2 {
      list-style: none;
      color: black;
      cursor: pointer;
      font-size: 15px;
      margin-right: 1300px;
      margin-top: 50px;
      margin-bottom: 10px;
    }
  }

  .more {
    button {
      cursor: pointer;
      background-color: white;
      border: none;
      // text-decoration: none;
      height: 0px;
      font-size: 14px;
      float: right;
      margin-right: 15px;
      margin-top: -25px;
    }
  }


}