.main {

  .commupost1 {
    width: 1350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .commupost2 {
    width: 1350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .commupost3 {
    width: 1350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}