.ImagePost {

  .contents {

    .cont {
      // margin-left: 770px;
      margin-top: 35px;

      .frame {
        width: 400px;
        height: 450px;
        border-radius: 10px;
        box-shadow: 0px 0.5px 2px 0.5px rgb(211, 211, 211);

        //profile        
        .user {
          .profile {
            width: 25px;
            height: 25px;
            float: left;
            margin-top: 20px;
            margin-left: 25px;
          }

          .username {
            font-size: 15px;
            padding-top: 23px;
            padding-left: 60px;
          }
        }

        //post
        .post {
          .img {
            width: 300px;
            height: 200px;
            background-color: black;
            float: left;
            margin-top: 20px;
          }

          .left {
            width: 25px;
            height: 25px;
            float: left;
            margin-top: 100px;
            margin-left: -38px;
          }

          .right {
            width: 25px;
            height: 25px;
            margin-top: 105px;
            margin-left: 10px;
          }
        }

        // icon
        .icons {
          width: 250px;
          height: 25px;
          margin-top: 20px;
          margin-left: 30px;

          .heart {
            cursor: pointer;
            width: 50px;
            height: 20px;
            color: rgb(0, 0, 0);
            margin-left: 20px;
            margin-top: 5px;
            float: left;
          }

          // .heart-count {
          //   width: 20px;
          //   height: 20px;
          //   // color: red;
          //   margin-left: 5px;
          //   margin-top: 8px;
          //   float: left;
          //   font-size: 12px;
          // }

          .com {
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin-left: 20px;
            margin-top: 5px;
            float: left;
          }

          .com-count {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            margin-top: 8px;
            float: left;
            font-size: 12px;
          }

          .share {
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin-right: 60px;
            margin-top: 5px;
            float: right;
          }
        }

        //text
        .textbox {
          width: 300px;
          height: 120px;
          background-color: white;
          margin-top: 80px;
          margin-left: 50px;
          border-radius: 20px;
          box-shadow: 0px 0.3px 3px 0.3px rgb(211, 211, 211);

          .boxtext {
            font-size: 12px;
            text-align: left;
            margin-left: 20px;
            padding-top: 10px;
            width: 300px;
            height: 100px;
          }
        }
      }
    }


  }
}