.MyWork {
  height: 3260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .MyWork-title {
    font-size: 15px;
    margin-left: -20px;
  }

  .My-Work {
    height: 3200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

}